<nav class="navbar navbar-light" style="background-color:cornflowerblue">
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Home</h1></a>
  <a class="navbar-brand" routerLink="/user-login" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Login</h1></a>
  <a class="navbar-brand" routerLink="/user-registration" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Registration</h1></a>

</nav>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="row" style="padding-right: 20px;" >
         
        <img class="d-block w-100" src="./assets/rrr.jpg" style="height: 350px; width: 600px;"/>
         
          <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
        
      </div>
      
    </div>
    
    <div class="col-md-6">
      <div class="row " >
         <img class="d-block w-100" src="./assets/bahubali.jpg" style="height: 350px; width: 600px;"/>
         <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
        
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="row" style="padding-right: 20px;" >
           
          <img class="d-block w-100" src="./assets/karthikeya.jpg" style="height: 350px; width: 600px;"/>
           
            <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
          
        </div>
        
      </div>
      
      <div class="col-md-6">
        <div class="row " >
           <img class="d-block w-100" src="./assets/pathaan.jpg" style="height: 350px; width: 600px;"/>
           <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> BOOK NOW</button>    
          
          </div>
      </div>
    </div>
  
</div>
<!--Footer-->

<div class="card-footer bg-transperent border-info">
 @Copyright 2023 Prepared By: Priyanka Reddy
</div>

