<h1 style="background-color:cornflowerblue; text-align: center; text-decoration-line:underline; "><i>User Login Section</i></h1>

    <br>
  <h3  style="color:red ;">{{message}}</h3>



  <div class="media border p-3">
    
    <div class="media-body">
      <form>
        <table class="table table-striped">
        <tr><td>Username:</td><td><input type="text" name="username" [(ngModel)]="username"></td></tr>
        <tr><td>Password:</td><td><input type="password" name="password" [(ngModel)]="password"></td></tr>
       <tr><td>
     <button type="submit" (click)="loginUserNow()" class="btn btn-primary btn-lg">Login</button>
       </td></tr>
    </table>
        </form>
    </div>
  </div>
