<h1 style="background-color:cornflowerblue; text-align: center; text-decoration-line:underline; "><i>Admin Login Section</i></h1>

    <br>
  <h3  style="color:red ;">{{message}}</h3>



  <div class="media border p-3">

   <!-- <img src="./assets/giphy.gif" alt="John Doe"  style="width:500; height: 500;">-->
   
    <div class="media-body">
      <form>
        <table class="table table-striped">
        <tr><td>Username:</td><td><input type="text" name="username" [(ngModel)]="username"></td></tr>
        <tr><td>Password:</td><td><input type="password" name="password" [(ngModel)]="password"></td></tr>
       <tr><td>
     <button type="submit" (click)="loginadNow()" class="btn btn-primary btn-lg">Login</button>
       </td></tr>
    </table>
        </form>
    </div>
  </div>

