<nav class="navbar navbar-light" style="background-color:cornflowerblue">
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Home</h1></a>
  <a class="navbar-brand" routerLink="/admin-login" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Login</h1></a>

</nav>
  <label style="font-size: 50px; text-align: center;"> Latest Movies</label>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="row" style="padding-right: 20px;" >
      <img class="d-block w-100" src="./assets/pathaan.jpg" style="height: 300px; width: 400px;"/>
      </div>
      
    </div>
    
    <div class="col-md-6">
      <div class="row " >
         <img class="d-block w-100" src="./assets/bahubali.jpg" style="height: 300px; width: 400px;"/>
        </div>


    </div>
    <div class="col-md-6">
        <div class="row " >
           <img class="d-block w-100" src="./assets/karthikeya.jpg" style="height: 300px; width: 400px;"/>   
          </div>
  
          
      </div>
      <div class="col-md-6">
        <div class="row " >
           <img class="d-block w-100" src="./assets/pushpa.jpg" style="height: 300px; width: 400px;"/>
          </div>
  
          
      </div>
 </div>  
</div>



<!--Footer-->

<div class="card-footer bg-transperent border-info">
 @Copyright 2022 Prepared By:Priyanka Reddy
</div>
