

<nav class="navbar navbar-light" style="background-color:cornflowerblue">

  
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Home</h1></a>
  <a class="navbar-brand" routerLink="/admin-login" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Login</h1></a>
  <a class="navbar-brand" routerLink="/admin-add-movie-ticket" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Add Movies</h1></a>
  <a class="navbar-brand" routerLink="/admin-add-genre" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Add Genre</h1></a>
  <a class="navbar-brand" routerLink="/admin-dashboard" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Dashboard</h1></a>
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">SignOut</h1></a>


</nav>
