<nav class="navbar navbar-light" style="background-color:cornflowerblue">
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Home</h1></a>
  <a class="navbar-brand" routerLink="/user-login" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Login</h1></a>
  <a class="navbar-brand" routerLink="/user-registration" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Registration</h1></a>
  <a class="navbar-brand" routerLink="/user-dashboard" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Show Movies</h1></a>
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h1 style="font-family: 'Times New Roman', Times, serif;">Sign Out</h1></a>
</nav>
