<div class = "container-fluid">
  <app-user-navbar></app-user-navbar>
</div>

<div class = "container-fluid col-md-6 offset-md-3">
  <table class="table" border="1">
 <tr><th>ID</th><th>Movie Image</th><th>Movie Name</th><th>Date</th><th>Time</th><th>Location</th><th>Genre</th><th>Price</th></tr>
 <tr>
  <td>{{movie.id}}</td>
  <td><img src="{{movie.imagePath}}" style="height: 150; width: 250;"></td>
  <td>{{movie.movieName}}</td>
  <td>{{movie.showDate}}</td>
  <td>{{movie.showTime}}</td>
  <td>{{movie.showingLocation}}</td>
  <td>{{movie.genre}}</td>
  <td>{{movie.price}}</td>
  <td> <button (click) = "proceed()" class = "btn btn-info">Confirm Purchase</button></td>
  </tr>
  </table>

